/Ficha7/Ficha7ex1/dist/
/Ficha7/Ficha7Exerc2/nbproject/private/
/Ficha7/Ficha7Exerc2/build/
/Ficha7/Ficha7Exerc2/dist/
/Ficha8/Ficha8/nbproject/private/
/Ficha8/Ficha8/build/
/Ficha8/Ficha8/dist/
/Ficha9/Ficha9/nbproject/private/
/Ficha9/Ficha9/build/
/Ficha9/Ficha9/dist/
/Ficha9/Ex2/nbproject/private/
/Ficha9/Ex2/build/
/Ficha9/Ex2/dist/
